body {
   background: black;
}

.slider {
    left: 0%;
    float: left;
    /*width: 100vw;
    height: 100vh;*/
    color: white;
    position: absolute;
    /*display: table-cell;*/
    /*top: 50vh;*/
    /*margin-bottom: : auto;*/
    margin: auto;
    text-align: center;
    align-content: center;
    /*vertical-align: middle;*/
    /*top: 50vh;*/
    /*transform: translate(0, -50%);*/
    display: grid;
    justify-content:center;
    align-items:center;
    width:99%;
    height:96%;
}

.slide-in-right {
    left: 50%;
    animation: slide-in-right 0.5s forwards;
    -webkit-animation: slide-in-right 0.5s forwards;
}

.slide-out-right {
    animation: slide-out-right 0.5s forwards;
    -webkit-animation: slide-out-right 0.5s forwards;
}

@keyframes slide-in-right {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(-50%); }
}

@-webkit-keyframes slide-in-right {
    0% { -webkit-transform: translateX(-150%);}
    100% { -webkit-transform: translateX(-50%);}
}

@keyframes slide-out-right {
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out-right {
    100% { -webkit-transform: translateX(100%); }
}
