body {
   background: black;
   overflow: hidden;
   height: 100vh;
   width: 100vw;
}

section {
    left: 0%;
    float: left;
    /*width: 100vw;
    height: 100vh;*/
    /*height: 100vh;*/
    overflow-y: visible;
    overflow-x: hidden;
    color: white;
    position: absolute;
    /*display: table-cell;*/
    /*top: 50vh;*/
    /*margin-bottom: : auto;*/
    margin: auto;
    /*padding-bottom: 3vh;*/
    text-align: center;
    /*align-content: center;*/
    /*vertical-align: middle;*/
    /*top: 50vh;*/
    /*transform: translate(0, -50%);*/
    display: grid;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:95vh;
}

.slid-out {
   transform: translate(-100%,0);
}

.slide-in-right {
    /*left: 50%;*/
    animation: slide-in-right 0.5s forwards;
    -webkit-animation: slide-in-right 0.5s forwards;
}

.slide-out-right {
    animation: slide-out-right 0.5s forwards;
    -webkit-animation: slide-out-right 0.5s forwards;
}

@keyframes slide-in-right {
    0% { transform: translateX(-100vw); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in-right {
    0% { -webkit-transform: translateX(-100vw);}
    100% { -webkit-transform: translateX(0%);}
}

@keyframes slide-out-right {
    100% { transform: translateX(100vw); }
}

@-webkit-keyframes slide-out-right {
    100% { -webkit-transform: translateX(100vw); }
}


.slide-in-left {
    animation: slide-in-left 0.5s forwards;
    -webkit-animation: slide-in-left 0.5s forwards;
}

.slide-out-left {
    animation: slide-out-left 0.5s forwards;
    -webkit-animation: slide-out-left 0.5s forwards;
}

@keyframes slide-in-left {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in-left {
    0% { -webkit-transform: translateX(100vw);}
    100% { -webkit-transform: translateX(0%);}
}

@keyframes slide-out-left {
    100% { transform: translateX(-100vw); }
}

@-webkit-keyframes slide-out-left {
    100% { -webkit-transform: translateX(-100vw); }
}


.slide-in-top {
    animation: slide-in-top 0.5s forwards;
    -webkit-animation: slide-in-top 0.5s forwards;
}

.slide-out-top {
    animation: slide-out-top 0.5s forwards;
    -webkit-animation: slide-out-top 0.5s forwards;
}

@keyframes slide-in-top {
    0% { transform: translateY(100vh); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in-top {
    0% { -webkit-transform: translateY(100vh);}
    100% { -webkit-transform: translateY(0%);}
}

@keyframes slide-out-top {
    100% { transform: translateY(-100vw); }
}

@-webkit-keyframes slide-out-top {
    100% { -webkit-transform: translateY(-100vw); }
}


.slide-in-bottom {
    animation: slide-in-bottom 0.5s forwards;
    -webkit-animation: slide-in-bottom 0.5s forwards;
}

.slide-out-bottom {
    animation: slide-out-bottom 0.5s forwards;
    -webkit-animation: slide-out-bottom 0.5s forwards;
}

@keyframes slide-in-bottom {
    0% { transform: translateY(-100vh); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in-bottom {
    0% { -webkit-transform: translateY(-100vh);}
    100% { -webkit-transform: translateY(0%);}
}

@keyframes slide-out-bottom {
    100% { transform: translateY(100vh); }
}

@-webkit-keyframes slide-out-bottom {
    99% { -webkit-transform: translateY(100vh); }
    100% { -webkit-transform: translateY(100vh); visibility: hidden;}
}
