* {
   font-family: "Source Sans Pro", Helvetica, sans-serif;
}

html {
   font-size: 50%;
   color: #fff;
}

@media (min-width:20em)  {
   html {
      font-size: 66%;
   }
}

@media (min-width:30em)  {
   html {
      font-size: 100%;
   }
}

@media (min-width:45em)  {
   html {
      font-size: 150%;
   }
}

@media (min-width:60em)  {
   html {
      font-size: 200%;
   }
}

body {
   background: #222;
   overflow: hidden;
   height: 100vh;
   width: 100vw;
   font-size: 100%;
}


h1 {
   font-size: 3rem;
   font-family: Roboto, "Open Sans", "Source Sans Pro", Helvetica, sans-serif;
   text-transform: uppercase;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}


h2 {
   font-size: 2.5rem;
   font-family: Roboto, "Open Sans", "Source Sans Pro", Helvetica, sans-serif;
   text-transform: uppercase;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}

p {
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   font-size: 1.2rem;
}

a {
   text-decoration: none;
   color: #007fff;
}

.section {
   overflow-y: visible;
   overflow-x: hidden;
   width: 90%;
   height: 100%;
   padding-left: 5%;
   padding-right: 5%;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   margin-bottom: 0%;
}

.slid-out {
   transform: translate(-100%,0);
}

.slide-in-right {
   /*left: 50%;*/
   animation: slide-in-right 0.5s forwards;
   -webkit-animation: slide-in-right 0.5s forwards;
}

.slide-out-right {
   animation: slide-out-right 0.5s forwards;
   -webkit-animation: slide-out-right 0.5s forwards;
}

@keyframes slide-in-right {
   0% { transform: translateX(-100vw); overflow-y: hidden;}
   99% { transform: translateX(0%); overflow-y: hidden;}
   100% { transform: translateX(0%); overflow-y: scroll;;}
}

@-webkit-keyframes slide-in-right {
   0% { -webkit-transform: translateX(-100vw); overflow-y: hidden;}
   100% { -webkit-transform: translateX(0%); overflow-y: scroll;}
}

@keyframes slide-out-right {
   100% { transform: translateX(100vw); }
}

@-webkit-keyframes slide-out-right {
   100% { -webkit-transform: translateX(100vw); }
}


.slide-in-left {
   animation: slide-in-left 0.5s forwards;
   -webkit-animation: slide-in-left 0.5s forwards;
}

.slide-out-left {
   animation: slide-out-left 0.5s forwards;
   -webkit-animation: slide-out-left 0.5s forwards;
   overflow-y: hidden;
}

::-webkit-scrollbar {
   display: none;
}

@keyframes slide-in-left {
   0% { transform: translateX(100vw);  overflow-y: hidden;}
   99% { transform: translateX(0%);  overflow-y: hidden;}
   100% { transform: translateX(0%); overflow-y: scroll;}
}

@-webkit-keyframes slide-in-left {
   0% { -webkit-transform: translateX(100vw); overflow-y: hidden;}
   99% { -webkit-transform: translateX(0%); overflow-y: hidden;}
   100% { -webkit-transform: translateX(0%); overflow-y: scroll;}
}

@keyframes slide-out-left {
   100% { transform: translateX(-100vw); }
}

@-webkit-keyframes slide-out-left {
   100% { -webkit-transform: translateX(-100vw); }
}


.slide-in-up {
   animation: slide-in-up 0.5s forwards;
   -webkit-animation: slide-in-up 0.5s forwards;
}

.slide-out-up {
   animation: slide-out-up 0.5s forwards;
   -webkit-animation: slide-out-up 0.5s forwards;
}

@keyframes slide-in-up {
   0% { transform: translateY(100vh); }
   100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in-up {
   0% { -webkit-transform: translateY(100vh);}
   100% { -webkit-transform: translateY(0%);}
}

@keyframes slide-out-up {
   100% { transform: translateY(-100vh); }
}

@-webkit-keyframes slide-out-up {
   100% { -webkit-transform: translateY(-100vh); }
}


.slide-in-down {
   animation: slide-in-down 0.5s forwards;
   -webkit-animation: slide-in-down 0.5s forwards;
}

.slide-out-down {
   animation: slide-out-down 0.5s forwards;
   -webkit-animation: slide-out-down 0.5s forwards;
}

@keyframes slide-in-down {
   0% { transform: translateY(-100vh); }
   100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in-down {
   0% { -webkit-transform: translateY(-100vh);}
   100% { -webkit-transform: translateY(0%);}
}

@keyframes slide-out-down {
   100% { transform: translateY(100vh); }
}

@-webkit-keyframes slide-out-down {
   99% { -webkit-transform: translateY(100vh); }
   100% { -webkit-transform: translateY(100vh); visibility: hidden;}
}

.button-inner {
   color: #444;
   display: inline-block;
   background-color: #E6E6E6;
   margin: 12px;
   border: 1px solid #999;  /*IE 6/7/8*/
   /*! min-width:  10%; */
   margin-bottom: 0.5rem;
   border-radius: 0.1em;
   color: rgba(0, 0, 0, 0.80); 
   text-transform: capitalize;
   font-weight: bold;
}

.pure-button {
   font-family: inherit;
   font-size: 1.3rem;
   padding: 0.5rem 1rem;
   /*margin: 10rem;*/
   color: #444; /* rgba not supported (IE 8) */
   color: rgba(0, 0, 0, 0.80); /* rgba supported */
   border: 1px solid #999;  /*IE 6/7/8*/
   border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
   background-color: #E6E6E6;
   text-decoration: none;
   border-radius: 0.1em;
   text-transform: capitalize;
   font-weight: bold;
   box-decoration-break: clone;
   display: inline-block;
   margin-bottom: 0.5em;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
   /* csslint ignore:start */
   filter: alpha(opacity=90);
   /* csslint ignore:end */
   background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
   background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.pure-button:focus {
   outline: 0;
}
.pure-button-active,
.pure-button:active {
   box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
   border-color: #000\9;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
   border: none;
   background-image: none;
   /* csslint ignore:start */
   filter: alpha(opacity=40);
   /* csslint ignore:end */
   opacity: 0.40;
   cursor: not-allowed;
   box-shadow: none;
   pointer-events: none;
}

.pure-button-hidden {
   display: none;
}

.pure-button-primary,
.pure-button-selected,
.pure-button-primary,
.pure-button-selected {
   background-color: rgb(0, 120, 231);
   color: #fff;
}

.button-wrap {
   display: inline-block;
}
/*
#buttonboxback {
    min-width: 5en;
    height: 2em;
    background-color: black;
    position: absolute;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    bottom: 0;
    left: 0;
    font-size: 1rem;
}

#buttonboxback:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5rem;
    border-style: solid;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-color: transparent black transparent transparent;
}

#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold;
}

#buttonboxback:hover {
    background-color: lightblue;
}

#buttonboxback:hover:before {
    border-right-color: lightblue;
}*/

.left-arrow {
   font-size: 75%;
	display: block;
	position: absolute;
   left: 1.5em;
   bottom: 1em;
	background: #E6E6E6;
   margin: auto;
	padding-top: 0.25em;
   padding-bottom: 0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   /*! height: 2em; */
   text-decoration: none;
   color: #000;
   /*! vertical-align: middle; */
   /*! margin-bottom: -.25em; */
}

.left-arrow:after {
	content: '';
	display: block;
	position: absolute;
	right: 100%;
	top: 0%;
	/*margin-up: 0.5em;*/
	width: 0;
	height: 0;
	border-top: .85em solid transparent;
	border-right: .75em solid #E6E6E6;
	border-bottom: .85em solid transparent;
   vertical-align: middle;
}

.hidden {
   opacity: 0;
}


.slide-in-button {
   animation: slide-in-button 0.5s forwards;
   -webkit-animation: slide-in-button 0.5s forwards;
}

@keyframes slide-in-button {
   0% { transform: translateX(-200%); }
   100% { transform: translateX(0%); }
}


.slide-out-button {
   animation: slide-out-button 0.5s forwards;
   -webkit-animation: slide-out-button 0.5s forwards;
}

@keyframes slide-out-button {
   0% { transform: translateX(0%); }
   100% { transform: translateX(-200%); }
}
